.medication-autocomplete-table table tr th,
.medication-autocomplete-table table tr td {
  height: auto;
  padding: 0.5rem;
  /* Added below style to fix table design */
  word-break: break-word;
  word-wrap: break-word;
  text-wrap: wrap;
  min-width: 90px;
}

.medication-autocomplete-table {
  padding: 4px;
  position: absolute;
  max-height: 400px;
  overflow: auto;
  z-index: 3;
  background-color: white;
  width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.medication-autocomplete-table::-webkit-scrollbar {
  width: 6px;
}
.medication-autocomplete-table::-webkit-scrollbar-track {
  width: 5px;
}
.medication-autocomplete-table::-webkit-scrollbar-thumb {
  background: gray;
}

input[type="date"][value=""]::-webkit-datetime-edit-year-field,
input[type="date"][value=""]::-webkit-datetime-edit-month-field,
input[type="date"][value=""]::-webkit-datetime-edit-day-field,
input[type="date"][value=""]::-webkit-datetime-edit-text {
  color: transparent;
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
  width: 100%;
  z-index: 2;
  position: sticky;
  left: 0;
  transform: rotate3d(0, 10, 1, 180deg);
  padding: 11px 0;
} */

/* input[type="date"][value=""]::-webkit-datetime-edit {
  color: transparent;
} */
/* input[type="date"]:focus::-webkit-datetime-edit {
  color: black !important;
} */

.chakra-modal__content-container {
  right: 0px;
  max-width: 50vw;
  left: auto;
}
