/* This stylesheet will be loaded outside of Shadow DOM since fonts cannot be loaded inside Shadow DOM: https://github.com/mdn/interactive-examples/issues/887#issuecomment-432418008 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
