/* fallback */
@font-face {
  font-family: 'Material Icons';
  src: url('MaterialIcons-Regular.eot');
  src: local('Material Icons'), local('MaterialIcons-Regular'),
      url('MaterialIcons-Regular.eot?#iefix') format('embedded-opentype'),
      url('MaterialIcons-Regular.woff2') format('woff2'),
      url('MaterialIcons-Regular.woff') format('woff'),
      url('MaterialIcons-Regular.ttf') format('truetype'),
      url('MaterialIcons-Regular.svg#MaterialIcons-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}