@import './theme/wellsky-theme.css';

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--wellsky-bg-secondary);
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}