@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.recording-dot {
  animation: blink 0.8s infinite;
  background: #DD4444;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.recording-text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.antd-with-flex-content .ant-tabs-content-holder {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
}

.antd-with-flex-content .ant-tabs-content-holder .ant-tabs-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.antd-with-flex-content .ant-tabs-content-holder .ant-tabs-content .ant-tabs-tabpane {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
