/* Pulsating animation */

@keyframes magic-sparkle-big-pulse {
  0% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  25% {
    transform: scale(1.1);
    animation-timing-function: ease-in;
    opacity: 1;
  }

  50% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }

  75% {
    transform: scale(0.9);
    animation-timing-function: ease-in;
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.magic-sparkle-big,
.magic-sparkle-medium,
.magic-sparkle-small {
  transform-origin: center;
}

.magic-sparkle-big.magic-sparkle-animated {
  animation: magic-sparkle-big-pulse 2s infinite;
}

.magic-sparkle-medium.magic-sparkle-animated {
  /* Same animation, but shifted by 1/3 the duration */
  animation: magic-sparkle-big-pulse 2s infinite 0.33s;
  transform-origin: center;
}

.magic-sparkle-small.magic-sparkle-animated {
  /* Same animation, but shifted by 2/3 the duration */
  animation: magic-sparkle-big-pulse 2s infinite 0.66s;
  transform-origin: center;
}

.magic-sparkle-big.magic-sparkle-hover {
  animation: magic-sparkle-big-pulse 0.8s infinite;
}

.magic-sparkle-medium.magic-sparkle-hover {
  /* Same animation, but shifted by 1/3 the duration */
  animation: magic-sparkle-big-pulse 0.8s infinite 0.27s;
  transform-origin: center;
}

.magic-sparkle-small.magic-sparkle-hover {
  /* Same animation, but shifted by 2/3 the duration */
  animation: magic-sparkle-big-pulse 0.8s infinite 0.53s;
  transform-origin: center;
}
