version: '3.0'
services:
  widget:
    image: autoscribe-widget
    build:
      context: widget
      dockerfile: Dockerfile.dev
      secrets:
        - npmrc
    ports:
      - '11001:11001'
    volumes:
      - type: bind
        source: ./widget/src
        target: /widget/src
      - type: bind
        source: ./widget/public
        target: /widget/public

  api:
    image: autoscribe-api
    build:
      context: api
    ports:
      - '11000:11000'
    tty: true  # Colors
    environment:
      SERVICE: autoscribe
      STAGE: dev
      VERSION: dev
      DEBUG: 'true'
      GCS_BUCKET_NAME: viki-ai-provisional-dev
      GCP_PROJECT_ID: viki-dev-app-wsky
      AWS_DEFAULT_REGION: us-east-1
      AWS_PROFILE: wsDev
      PYTHONUNBUFFERED: "1"  # Flush `print`s immediately
      GOOGLE_SPEECH_API_VERSION: 'v1'
      FIRESTORE_EMULATOR_HOST: firebase-tools:8080
      CLOUD_PROVIDER: local  # Must be "google" when deployed
      OKTA_DISABLE: 'true'
      OKTA_ISSUER: 'https://wellsky-ciam.oktapreview.com/oauth2/ausajt8hv1B8S7hkh1d7'  # Dev env issuer
      OKTA_AUDIENCE: viki.dev.wellsky.io  # Dev audience
      OKTA_SCOPE: api.wellsky.viki.ai.transcription
    volumes:
      - type: bind
        source: ./api/autoscribe
        target: /api/autoscribe
      - type: bind
        source: $HOME/.config/gcloud
        target: /root/.config/gcloud
      - type: bind
        source: $HOME/.aws
        target: /root/.aws

secrets:
  npmrc:
    file: ../.npmrc
