.pdf-document {
  flex: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100%;
  height: 100%;
  overflow: auto; */
}

.pdf-page {
  position: relative;
  width: 100%;
}

.left-annotation:hover {
  background: rgba(255, 255, 0, 0.75);
  color: #000000;
}
